@charset "utf-8";

// =========================================================
// 各ページごとの指定用
// =========================================================


.uk-container{
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	@include mq {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* 60　ページ
========================================================= */

/* 50　セクション
----------------------------------------------- */

/* 40　パーツ
------------------------------------- */

//ロゴ

/* 全ページ共通
========================================================= */
/* タイトル title
----------------------------------------------- */
// page title
.page-tit-01 {
	@include font(30);
	color: $color-01;
	margin-bottom: 25px;
	position: relative;
	display: flex;
	align-items: center;
	font-weight: 500;
	@include mq {
		@include font(50);
		margin-bottom: 85px;
	}
	&:before {
		content: '';
		width: 43px;
		height: 1px;
		background-color: $color-01;
		left: -73px;
		top: 50%;
		transform: translateY(-50%);
		margin-right: 10px;
		@include mq {
			width: 73px;
			left: -103px;
		}
		@include lq {
			display: block;
			position: absolute;
		}
	}
	small {
		@include font(13);
		color: $color-text-01;
		padding-left: 15px;
		margin-top: 0;
		display: block;
		@include mq {
			padding-left: 30px;
			margin-top: -4px;
			@include font(16);
			display: inline-block;
		}
	}
}

@media all and (-ms-high-contrast:none){
    ::-ms-backdrop, .page-tit-01:before { top: 38% !important; }
    ::-ms-backdrop, .page-tit-01 small { margin-top: -10px !important; }
}

.page-tit-02 {
	@include font(27);
	margin-bottom: 12px;
	font-weight: 500;
	@include mq {
		@include font(40);
		margin-bottom: 25px;
	}
}

/* セクション間の隙間 margin
----------------------------------------------- */
// セクションごとの大きい隙間 It is OK to change
@mixin com-mt-01 {
    padding-top: 40px;
    @include mq {
    	padding-top: 90px;
    }
}

@mixin com-mb-01 {
    padding-bottom: 40px;
    @include mq {
    	padding-bottom: 90px;
    }
}

// section title
.com-tit-01 {
	@include font(24);
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	line-height: 1.2;
	font-weight: 500;
	@include mq {
		@include font(28);
		line-height: 1.2;
	}
	@include lq {
		@include font(40);
		line-height: 50px;
	}
	small {
		display: inline-block;
		margin-bottom: 15px;
		position: relative;
		@include font(15);
		color: $color-01;
		letter-spacing: 0;
		padding-left: 30px;
		@include mq {
			padding-left: 0;
			@include font(19);
		}
		@include lq {
			padding-left: 0;
			@include font(23);
		}
		&:before {
			content: '';
			position: absolute;
			width: 60px;
			height: 1px;
			background-color: $color-01;
			left: -34px;
			top: 50%;
			transform: translateY(-50%);
			@include mq {
				width: 74px;
				left: -100px;
			}
		}
	}
}

.com-tit-02 {
	margin-top: 30px;
	color: $color-01;
	@include font(20);
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-weight: 500;
	@include mq {
		margin-top: 70px;
		@include font(25);
		padding-bottom: 20px;
		margin-bottom: 25px;
	}
	&.is-bd {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $color-01;
			height: 1px;
			width: 73px;
		}
	}
	&.is-margin{
		padding-bottom: 10px;
		margin-bottom: 10px;
		@include mq {
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
}

.com-tab-01 {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 30px;
	margin-top: -30px;
	z-index: 1;
	position: relative;
	@include lq {
		padding-right: 0;
	}
	.com-link-01 {
		margin-top: 0;
		background-color: $color-02;
	}
	.uk-active {
		a {
			background-color: $color-01;
			border-color: $color-01;
			background-image: url(../img/home/arrow-down.svg);
			color: $color-02;
			&:hover {
				background-color: #2193d4;
				background-position: 95% 65%;
			}
		}
	}
}
.com-tab-01-content{
	@include com-mt-01;
	@include com-mb-01;
}

.com-banner-01 {
	position: relative;
	margin-top: 25px;
	margin-bottom: 5px;
	min-height: 370px;
	background-position: center;
	background-size: cover;
	background-image: url(../img/office/office-bk.jpg);
	@include mq {
		min-height: 570px;
		margin-top: 95px;
		margin-bottom: 50px;
	}
	&.bk-feature {
		background-image: url(../img/feature/feature-bk.jpg);
	}
	&.bk-lawyer {
		background-image: url(../img/lawyer/lawyer-bk.jpg);
	}
	&.bk-staff{
		background-image: url(../img/staff/staff-bk.jpg);
	}
	&.bk-recruit{
		background-image: url(../img/recruit/recruit-bk.jpg);
	}
	&.bk-program{
		background-image: url(../img/program/program-bk.jpg);
	}
	&.bk-entry{
		background-image: url(../img/entry/entry-bk.jpg);
	}
	&.bk-contact{
		background-image: url(../img/contact/contact-bk.jpg);
	}
	.inner {
		position: absolute;
		left: 50%;
		bottom: -30px;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1160px;
		box-sizing: border-box;
		@include mq {
		}
	}
	.scroll-down{
		position: absolute;
		bottom: 145px;
		right: 50px;
	}
}
.com-banner-02 {
	text-align: center;
	img {
		width: auto;
		@include mq {
			width: 100%;
		}
	}
}

.com-table-01 {
	max-width: 100%;
	@include mq {
		max-width: 460px;
	}
	dl {
		@include smq {
			display: flex;
		}
		&:last-child{
			dt,dd{
				@include smq {
					border-bottom: 1px solid #D3DAE2;
				}
			}
		}
	}
	dt,dd {
		padding-top: 10px;
		padding-bottom: 10px;
		@include smq {
			border-top: 1px solid #D3DAE2;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	dt {
		background-color: #F2F6FA;
		font-weight: 500;
		padding-left: 10px;
		@include smq {
			background-color: transparent;
			padding-left: 0;
			border-top: 1px solid #D3DAE2;
			margin-right: 30px;
			width: 130px;
		}
	}
	dd {
		flex: 1;
	}
	&.is-full {
		@include mq {
			max-width: 100%;
		}
	}
}

/* #com-panel-01
-------------------------------------- */
.com-panel-01 {
	@include com-mt-01;
	.com-link-01 {
		margin-top: 25px;
		margin-bottom: 20px;
		@include mq {
			margin-bottom: 90px;
		}
	}
}

/* #com-map-01
-------------------------------------- */
.com-map-01 {
	height: 260px;
	width: 100%;
	margin-top: 10px;
	@include mq {
		height: 500px;
		margin-top: 25px;
	}
}
/* グリッド grid
----------------------------------------------- */
.com-grid-0 {
	margin-left: 0;
	> * {
		padding-left: 0;
	}
	> .uk-grid-margin {
		margin-top: 0;
	}
}

.com-grid-20 {
	margin-left: -20px;
	> * {
		padding-left: 20px;
	}
	> .uk-grid-margin {
		margin-top: 20px;
	}
}

.com-grid-30 {
	margin-left: -30px;
	> * {
		padding-left: 30px;
	}
	> .uk-grid-margin {
		margin-top: 30px;
	}
}

.com-grid-40 {
	margin-left: -40px;
	> * {
		padding-left: 40px;
	}
	> .uk-grid-margin {
		margin-top: 40px;
	}
}

.com-grid-60 {
	margin-left: -60px;
	> * {
		padding-left: 60px;
	}
	> .uk-grid-margin {
		margin-top: 60px;
	}
}

/* パネル panel
----------------------------------------------- */
.com-panel-01 {
}

.form-btn-01 {
}

/* リスト list
----------------------------------------------- */
//　使ってない適当に変更宜しく※変更後はコメントアウト変更してね It is OK to change
.com-list-01 {
	img{
		width: 100%;
		margin-bottom: 10px;
	}
}

.com-list-02 {
	margin-top: 50px;
	.item {
		padding: 30px 10px;
		background-color: #F2F6FA;
		@include mq {
			padding: 45px 10px;
		}
	}
	.title {
		@include font(20);
		color: $color-01;
		margin-bottom: 10px;
		font-weight: 500;
		@include mq {
			@include font(25);
		}
	}
	p {
		@include font(14);
		@include mq {
			@include font(16);
		}
	}
	&-edit1{
		.item {
			padding: 30px 20px;
			@include mq {
				padding: 45px 60px;
			}
		}
		img{
			margin-bottom: 40px;
		}
		.title{
			@include font(26);
			color: $color-text-01;
			margin-bottom: 10px;
			@include mq {
				@include font(40);
			}
		}
	}
}

/* テキスト text
----------------------------------------------- */
.com-text-01 {}
.com-text-02 {}
.com-lead-text {
	@include font(17);
	margin-bottom: 20px;
	@include mq{
		@include font(25);
		margin-bottom: 40px;
	}
}
/* アクセント色
----------------------------------------------- */
.com-accent-01 {
}

/* リンク
----------------------------------------------- */
.com-btn-01 {
}

.com-link-01 {
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 360px;
	min-height: 60px;
	border: 1px solid $color-text-01;
	display: block;
	padding: 5px;
	text-align: center;
	@include font(18);
	background-image: url(../img/home/arrow-right-black.svg);
	background-repeat: no-repeat;
	background-position: 95%;
	box-sizing: border-box;
	transition: all 0.4s ease;
	padding-top: 13px;
	cursor: pointer;
	@include mq {
		width: 360px;
		margin-top: 60px;
		margin-bottom: 40px;
		@include font(23);
	}
	&:hover {
		background-position: 97%;
		opacity: 1;
	}
	&-white {
		background-color: $color-02;
	}
	&-blue {
		background-color: $color-01;
		border-color: $color-01;
		margin-top: 0;
		margin-bottom: 0;
		color: $color-02;
		background-image: url(../img/home/arrow-right-white.svg);
		width: 100%;
		max-width: 320px;
		@include mq {
			width: 360px;
		}
		&:hover {
			background-color: #2193d4;
			opacity: 1;
			color: $color-02;
			border-color: #2193d4;
		}
	}
	&.is-full{
		max-width: 100%;
		@include mq {
			width: 100%;
		}
	}
	&.is-down {
		background-image: url(../img/home/arrow-down.svg);
		&:hover {
			background-color: #2193d4;
			background-position: 95% 65%;
			border-color: #2193d4;
		}
	}
	&.is-page {
		background-color: #064184;
		margin: 60px auto 0;
	}
	&.is-submit {
		margin-top: 20px;
		@include mq {
			margin-top: 90px;
		}
	}
}

/* アイコン It is OK to change
----------------------------------------------- */
.ico-new {
	color: red;
}

/* トップページ
========================================================= */
/* keyvisual
----------------------------------------------- */
/* #keyvalue
-------------------------------------- */
#keyvalue {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
	margin: 0 auto;
	align-items: flex-start;
	overflow: hidden;
	@include mq {
		overflow: unset;
		padding-right: 0;
		padding-left: 50px;
		padding-bottom: 70px;
	}
}

.keyvalue-group {
	width: 100%;
	position: relative;
	@include sq {
		width: 70%;
	}
	@include mq {
		width: 50%;
	}
	&:after{
		content: '';
		position: absolute;
		right: -2px;
		top: 0;
		height: 100%;
		width: 5px;
		background-color: $color-02;
		display: none;
		@include mq {
			display: block;
		}
	}
	.catch-text {
		@include font(28);
		line-height: 1.4;
		margin-top: 350px;
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
		@include sq {
			margin-top: 250px;
			@include font(28);
			line-height: 1.2;
		}
		@include mq {
			@include font(75);
		}
	}
	p {
		@include font(14);
		@include mq { 
			@include font(16);
		}
	}
}

.keyvalue-video {
	position: relative;
	overflow: hidden;
	margin-top: 0;
	position: absolute;
	right: -40px;
	top: 20px;
	width: 311px;
	@include sq {
		width: 50%;
	}
	@include mq {
		width: 50%;
		position: relative;
		right: 0;
		top: 0;
		display: block;
		margin-top: -90px;
	}
	video {
		position: absolute;
		left: 50%;
		top: 50%;
		min-width: 100%;
		min-height:	99%;
		max-width: none;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translate(-50%, -50%);
		padding: 0 30px;
		background: $color-02;
	}
}

.keyvalue-srolldown{
	position: absolute;
	bottom: 210px;
	right: 50px;
}

.keyvalue-news {
	margin-top: 70px;
	margin-left: 0;
	z-index: 1;
	@include lq {
		margin-top: 200px;
		margin-left: 100px;
	}
	h2 {
		color: $color-01;
		text-transform: uppercase;
		@include font(15);
		width: 100px;
		padding: 5px 0;
		display: table-cell;
		@include mq {
			padding: 10px 0;
			@include font(20);
		}
	}
	.keyvalue-list {
		display: table-cell;
		border-left: 1px solid $color-text-01;
		padding-left: 20px;
		@include mq {
			padding-left: 35px;
		}
	}
	.keyvalue-item {
		display: table;
		padding: 5px 0;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		@include mq {
			padding: 10px 0;
			margin-bottom: 18px;
		}
		span {
			display: block;
			width: 100%;
			color: #696969;
			margin-top: -3px;
			@include font(15);
			vertical-align: top;
			display: block;
			@include mq {
				display: table-cell;
				width: 105px;
				@include font(16);
			}
		}
		h3 {
			flex: 1;
			@include font(16);
			display: block;
			@include mq {
				display: table-cell;
				vertical-align: middle;
			}
			a {
				display: inline-block;
			}
		}
	}
}

/* #home-01
-------------------------------------- */
#home-01 {
	position: relative;
	padding-top: 0px;
	margin-top: 140px;
	margin-bottom: 160px;
	padding-bottom: 135px;
	background-color: #F2F6FA;
	@include sq {
		margin-bottom: 160px;
	}
	@include mq {
		margin-top: 0;
		padding-top: 90px;
		padding-bottom: 0;
		margin-bottom: 270px;
		background-color: transparent;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background-color: #F2F6FA;
		width: 100%;
		height: calc(100% - 40px);
		z-index: -1;
		display: none;
		@include sq {
			display: block;
		}
		@include lq {
			height: calc(100% - 90px);
		}
	}
	.home-01-group{
		display: flex;
		flex-wrap: wrap;
		.img {
			width: 100%;
			margin-right: 0;
			@include mq {
				width: 40%;
				margin-right: 100px;
			}
			@include lq {
				width: 47%;
				margin-right: 120px;
			}
			img{
				width: 100%;
			}
		}
		.info {
			flex: 1;
		}
 	}
	.home-01-abs {
		position: absolute;
		right: 0;
		top: 90%;
   		width: 300px;
   		transition: all 0.3s ease;
   		@include sq {
   			top: 90%;
   			width: 39%;
   		}
   		@include mq {
   			top: 77%;
   		}
   		@include lq {
   			top: 70%;
   		}
	}
	.home-01-abs-s1 {
		margin-top: -130px;
		margin-bottom: 40px;
		transition: all 0.3s ease;
	}
}

/* #home-02
-------------------------------------- */
#home-02 {
	@include com-mb-01;
}

/* #home-03
-------------------------------------- */
#home-03 {
	background-color: #F2F6FA;
	@include com-mt-01;
	@include com-mb-01;
	@keyframes slideIn {
	    from {
	    	filter:blur(15px);
	  	}
	 	to {
	    	filter:blur(0);
	 	}
	}
	@keyframes slideOut {
	  	from {
	   		filter:blur(0);
	 	}
	 	to {
	    	filter:blur(15px);
	  	}
	}
	.home-03-video {
		overflow: hidden;
		margin-top: 50px;
		@include mq {
			margin-top: 60px;
		}
	}
	.slick-list {
		overflow: hidden;
		@include sq {
			overflow: visible;
		}
	}
	.home-03-video-slider {
	    position: relative;
	    width: 100%;
	    opacity: 0;
	    transition: all 1.2s ease;
	    &:before{
	    	content: '';
		    position: absolute;
		    left: -100%;
		    background-color: #F2F6FA;
		    height: 100%;
		    width: 100%;
		    z-index: 1;
	    }
		&.slick-initialized {
		    opacity: 1;
		    visibility: visible;
		}
		.home-03-right {
			cursor: pointer;
			width: 30px;
			height: 100%;
			position: absolute;
			right: -30px;
			top: 0;
			z-index: 1;
			background-color: #F2F6FA;
			@include sq {
				width: 130px;
				right: 0;
				top: 0;
			}
			@media (min-width: 1400px) {
				right: -130px;
			}
			&:after {
				content: '';
			    display: block;
			    width: 14px;
			    height: 14px;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin: auto;
			    transition: right .2s;
			    border-top: 1px solid $color-text-01;
				border-right: 1px solid $color-text-01;
				transform: rotate(45deg) translate(-50%, 50%);
			    @include sq {
			    	right: 50px;
			    	width: 45px;
			    	height: 45px;
			    }
			}
		}
	}
	.slick-active {
		margin-left: 0;
		padding-left: 0;
	}
	.slick-slide {
	 	position: relative;
		backface-visibility: hidden;
		height: 180px;
		padding-right: 0px;
		@include sq {
			height: 350px;
		}  
 	 	@include mq {
 	 		height: 650px;
		}
	  	video {
		    width: 100%;
		    height: 100%;
	  	}
	  	iframe {
	  		width: 100%;
		    height: 100%;
		    position: relative;
	 	}
	    .image-entity {
		    width: 100%;
		    opacity: 0;
		    visibility: hidden;
	    }
	    .slide-media {
	    	animation:slideOut .4s cubic-bezier(0.4, 0.29, 0.01, 1);
	    }
	    &.slick-active {
		    z-index: 1;
		    .slide-media {
		      animation:slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
		    }
	    }
	}
}

/* #home-04
-------------------------------------- */
#home-04 {
	@include com-mt-01;
	@include lq {
		margin-bottom: -90px;
	}
	.uk-container {
		max-width: 1260px;
	}
	.group {
		display: flex;
		flex-wrap: wrap;
		@include mq {
			flex-wrap: unset;
		}
	}
	.img {
		width: 100%;
		margin-right: 0;
		@include mq {
			width: 560px;
			margin-right: 140px;
		}
		.img-02{
			margin-bottom: -70px;
		}
	}
	.info {
		flex: 1;
		padding-top: 0;
		@include mq {
			padding-top: 80px;
		}
	}
	ul {
		margin-top: 45px;
	}
	.item {
		padding: 15px 5px;
		text-align: center;
		background-color: #F2F6FA;
		img {
			margin-bottom: 12px;
		}
		p {
			@include font(14);
			@include sq {
				@include font(13);
			}
		}
	}
}

/* #home-05
-------------------------------------- */
#home-05 {
	background-color: #F2F6FA;
	padding-top: 120px;
	@include com-mb-01;
	@include mq {
		padding-top: 180px;
	}
	.home-05-group {
		margin-top: 60px;
		h3 {
			margin-top: 22px;
			margin-bottom: 14px;
			@include font(20);
			font-weight: 500;
			@include mq {
				margin-top: 38px;
				margin-bottom: 26px;
				@include font(25);
			}
		}
		p {
			@include font(14);
			@include mq {
				@include font(16);
			}
		}
	}
}

/* #home-06
-------------------------------------- */
#home-06 {
	@include com-mt-01;
	padding-bottom: 10px;
	@include mq {
		padding-bottom: 90px;
	}
	ul {
		margin-top: 60px;
	}
	li {
		position: relative;
		padding-bottom: 30px;
		text-align: center;
		margin-bottom: 40px;
		@include mq {
			margin-bottom: 0;
		}
		img {
			width: 100%;
		}
	}
	.com-link-01 {
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
		bottom: 0;
	}
}

/* #home-07
-------------------------------------- */
#home-07 {
	background-color: #F2F6FA;
	@include com-mt-01;
	@include com-mb-01;
	.info {
		padding-top: 0;
		@include mq {
			padding-top: 80px;
		}
	}
}

/* #office-02
-------------------------------------- */
#office-02 {
	@include com-mt-01;
	@include com-mb-01;
}

/* #office-03
-------------------------------------- */
#office-03 {
	@include com-mt-01;
	@include com-mb-01;
	background-color: #F2F6FA;
}

/* #office-04
-------------------------------------- */
#office-04 {
	@include com-mt-01;
}

/* #feature-02
-------------------------------------- */
#feature-02 {
	@include com-mt-01;
	@include com-mb-01;
}

/* #feature-03
-------------------------------------- */
#feature-03 {
	@include com-mt-01;
	@include com-mb-01;
	background-color: #F2F6FA;
	.com-lead-text{
		margin-bottom: 10px;
	}
	.com-tit-02{
		margin-top: 40px;
	}
	li{
		border-top: 1px solid #D3DAE2;
		a{
			display: inline-block;
			padding: 15px 0;
		}
		&:last-child{
			border-bottom: 1px solid #D3DAE2;
		}
	}
}

/* #lawyer-01
-------------------------------------- */
#lawyer-01 {
	.com-banner-01 {
		margin-bottom: 0;
	}
}

/* #staff-01
-------------------------------------- */
#staff-01 {
	.com-banner-01 {
		margin-bottom: 0;
	}
}

/* #recruit-02
-------------------------------------- */
#recruit-02 {
	@include com-mt-01;
	.com-link-01 {
		margin-top: 0;
	}
	.item-bg {
		@include com-mt-01;
		@include com-mb-01;
		&.is-gray {
			background-color: #F2F6FA;
		}
	}
}

.com-table-list {
	margin: 0;
	padding: 0;
	counter-reset: li;
	margin-top: 12px;
	padding-left: 8px;
	li {
		position: relative;
		padding-left: 23px;
		&:before {
			counter-increment: li;
			content:  counter(li) ".";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

/* #program-02
-------------------------------------- */
#program-02 {
	@include com-mt-01;
	@include com-mb-01;
}

/* #program-03
-------------------------------------- */
#program-03 {
	@include com-mt-01;
	@include com-mb-01;
	background-color: #F2F6FA;
}
.program-03-item {
	background-color: $color-02;
	border: 1px solid #D3DAE2;
	padding: 20px 10px;
	height: auto;
	@include sq {
		height: 156px;
	}
	@include mq {
		
	}
	.title {
		@include font(19);
		font-weight: 700;
		margin-bottom: 8px;
		line-height: 1.4;
		@include sq {
			margin-bottom: 15px;
			@include font(17);
		}
		@include mq {
			margin-bottom: 15px;
			@include font(24);
		}
	}
}

/* #program-04
-------------------------------------- */
#program-04 {
	@include com-mt-01;
	@include com-mb-01;
}

/* #entry-04
-------------------------------------- */
#entry-02 {
	@include com-mt-01;
	@include com-mb-01;
}
.entry-02-guide {
	margin-bottom: 15px;
	@include font(23);
	@include sq {
		margin-top: 0px;
		display: flex;
		justify-content: space-between;
	}
	li {
		border: 1px solid $color-text-01;
		padding: 12px;
		flex: 1;
		position: relative;
		margin-top: 15px;
		@include sq {
			margin-bottom: 25px;
			margin-left: 40px;
		}
		&:before {
			content: '';
			background-image: url(../img/home/arrow-right-black.svg);
			width: 21px;
			height: 9px;
			background-size: 100% 100%;
			position: absolute;
			left: -31px;
			top: 50%;
			transform: translateY(-50%);
			display: none;
			@include sq {
				display: block;
			}
		}
		&:nth-child(2n+1) {
			margin-left: 0;
			&:before {
				display: none;
			}
		}
	}
}
.entry-02-list {
	max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    margin-top: 25px;
    @include lq {
    	margin-top: 60px;
    	padding-right: 0;
    }
}

/* #entry-03
-------------------------------------- */
#entry-03 {
	@include com-mt-01;
	@include com-mb-01;
	background-color: #F2F6FA;
}

/* #entry-04
-------------------------------------- */
#entry-04 {
	@include com-mt-01;
	@include com-mb-01;
}

/* #contact-03
-------------------------------------- */
#contact-02 {
	@include com-mt-01;
	@include com-mb-01;
}
.contact-02-hotline {
	p {
		@include mq {
			@include font(20);
		}
	}
}

/* #contact-03
-------------------------------------- */
#contact-03 {
	@include com-mt-01;
	@include com-mb-01;
	background-color: #F2F6FA;
}

.uk-nav-header {
	background-color: $color-01;
	padding: 6px 10px;
}
.uk-nav-offcanvas{
	& > li{
		&:last-child{
			background-color: $color-01;
			&:before{
				color: $color-02;
			}
			&:after{
				content: '';
				position: absolute;
			    content: "\f08e";
			    font-family: "FontAwesome";
			    color: $color-02;
			    @include font(14);
			    font-style: normal;
			    top: 50%;
			    transform: translateY(-50%);
			    right: 10px;
			}
			a{
				color: $color-02;
			}
		}
		a{
			@include font(13);
			height: 30px;
			font-weight: 500;
		    display: flex;
		    align-items: center;   
		}
	}
}
.uk-nav-sub li a {
	height: auto;
	padding: 11px 15px 11px 30px;
}
/* 共通パーツ
----------------------------------------------- */
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */
.home-tit-01 {}

/* Section Contact
-------------------------------------- */

/* form-table-01
-------------------------------------- */
.form-table-01 {
	width: 100%;
	dl {
		display: block;
		font-weight: 500;
		@include sq {
			display: flex;
		}
		&:last-child {
            dt,dd {
            	@include sq {
            		border-bottom: 1px solid #D3DAE2;
            	}
            }
		}
	}
	dt {
		margin: 0;
		position: relative;
        font-weight: 500;
		width: 100%;
		padding: 5px 0;
		min-width: auto;
		box-sizing: border-box;
        @include sq {
			padding: 15px 0 15px 0;
			width: 200px;
			min-width: 200px;
			margin-right: 40px;
			border-top: 1px solid #D3DAE2;
        }
	}
	dd {
		border-top: 0;
		padding: 10px 0;
		width: 100%;
        font-weight: normal;
        flex: 1;
        border-top: 1px solid #D3DAE2;
		@include sq {
			padding: 15px 0 15px 0;
			width: auto;
			width: 100%;
		}
	}
	// 必須項目用
	.required {
		label {
			position: relative;
			display: block;
		}
		label:after {
			position: absolute;
			content: '※';
			@include font(14);
			top: 2px;
			margin-left: 3px;
		}
	}
}

/* フォーム共通
========================================================= */
/* input関連
-------------------------------------- */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
	-webkit-appearance: none;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #C0C0C0;
	box-sizing: border-box;
	font-weight: 500;
	color: $color-text-01;
	height: 30px;
	@include font(16);
	font-family: $font-family-02;
	@include sq {
		max-width: 380px;
    }
}

select {
	width: 100%;
	padding: 2px 10px;
	border-radius: 0;
	font-weight: 500;
	border: 1px solid #C0C0C0;
	box-sizing: border-box;
	height: 30px;
	width: 100%;
	@include font(16);
	font-family: $font-family-02;
	@include sq {
		max-width: 380px;
    }
}

textarea {
	-webkit-appearance: none;
	width: 100%;
    height: 100px;
	padding: 5px 10px;
	border: 1px solid #C0C0C0;
	box-sizing: border-box;
	resize: none;
	font-weight: 500;
	@include font(16);
	font-family: $font-family-02;
	margin-bottom: -5px;
	@include sq {
		height: 170px;
	}
}


/* コンタクトフォーム7 調整用
-------------------------------------- */
.wpcf7-form-control {
	&.wpcf7-radio,&.wpcf7-checkbox {
		margin-left: -1em;
		display: block;
		overflow: hidden;
		> * {
			margin-left: 0;
			padding-left: 1em;
			display: inline-block;
			float: left;
		}
	}
}

/* form-table-01
-------------------------------------- */
.form-table-01 {}


/* 文章中の必須項目の部分
-------------------------------------- */
.ico-required {
}

/* 送信ボタン
-------------------------------------- */
.form-btn-01 {
}

/* カテゴリー一覧ページ
========================================================= */
/* 共通パーツ
----------------------------------------------- */
/* 一覧用
-------------------------------------- */
.info-list-01 {
}
