@charset "utf-8";

// =========================================================
// ページテンプレート指定用
// =========================================================




/* 60　page
========================================================= */

/* 50　block
----------------------------------------------- */

/* 40　parts
------------------------------------- */

// comment





/* 変数設定
========================================================= */

/* base color
------------------------------------- */
$color-01: #0083CE; // key color
$color-02: #fff;

// SNS color
$color-facebook: #3b5999;
$color-twitter: #1da1f2;
$color-google-plus: #dd4b39;
$color-youtube: #cd201f;
$color-line: #18ba07;


/* text color
------------------------------------- */
$color-text-01: #333; // body text color



/* font-family:
------------------------------------- */
$font-family-01: "Font Awesome 5 Free", FontAwesome;
$font-family-02: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-family-03: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", serif;
$font-family-04: "museo", sans-serif;




/* uikit.cssの基本設定の上書き
========================================================= */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $font-family-02;
    color: $color-text-01;
    font-weight: 500;
    line-height: 1.6;
    @include font(16);
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-02;
    color: $color-text-01;
    line-height: 1.2;
	margin: 0;
	padding: 0;
}

ul,dl,figure,p {
	margin: 0;
	padding: 0;
}
dt {
	font-weight: normal;
}

li {
	list-style: none;
}

a {
	color: $color-text-01;
	transition: .4s;
	&:before, &:after {
		transition: .4s;
	}
	&:hover {
		color: $color-text-01;
		text-decoration: none;
	}
}

::-moz-selection {
  color: $color-text-01;
}
::selection {
  color: $color-text-01;
}

div {
	box-sizing: border-box;
}

/* 基本 body
========================================================= */
//ページ幅

/* 中ページ layout
----------------------------------------------- */
#content {
}

#main {

}
.main-page {
	padding-top: 140px;
	@include mq {
		padding-top: 180px;
	}
}

/* header
========================================================= */
#header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	z-index: 100;
	@include mq {
		top: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}
}

.header-btn-01 {
	z-index: 1;
	background-color: transparent;
	line-height: 1;
	width: auto;
	padding: 0;
	height: auto;
}

/* #header-logo　
----------------------------------------------- */
#header-logo {}

/* #header-offcanvas-btn
----------------------------------------------- */
#header-offcanvas-btn {}


/* #sub内
========================================================= */
/* 共通パーツ
----------------------------------------------- */
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */

/* #sub-01　
----------------------------------------------- */
#sub-01 {
}


/* ページの上部へボタン（footer内に含まれる）
========================================================= */


/* footer
========================================================= */
footer {
	background-color: #064184;
	position: relative;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 70px;
	@include mq {
		padding-top: 90px;
		padding-bottom: 120px;
	}
	li {
		padding: 0 4px 0 10px;
		display: inline-block;
		position: relative;
		&:before {
			content: '';
			width: 1px;
			height: 15px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: $color-02;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		&:last-child a:after {
			content: '';
		    content: "\f08e";
		    font-family: "FontAwesome";
		    color: $color-02;
		    padding-left: 4px;
		    @include font(15);
		}
		a {
			display: inline-block;
			color: $color-02;
			&:hover {
				opacity: 1;
				color: #d5d5d5;
			}
		}
	}
}
.footer-logo{
	margin-bottom: 25px;
	display: block;
	@include mq {
		margin-bottom: 45px;
	}
}
.footer-backtop-btn {
	position: absolute;
	z-index: 10;
	right: 50px;
	bottom: 45px;
}
/* 共通パーツ
----------------------------------------------- */
/* footer-nav
-------------------------------------- */
.footer-nav-01 {
}
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */


/* #copyright
----------------------------------------------- */
#copyright {
	display: block;
	color: $color-02;
	opacity: 0.8;
	margin-top: 50px;
    @include font(14);
    @include mq {
		margin-bottom: 60px;
	}
}

/* offcanvas
========================================================= */
.uk-nav-header{
	background-color: #A9A9A9;
	padding: 15px 10px;
	color: $color-02;
	font-weight: bold;
	@include font(12);
}
.uk-offcanvas-bar {
	background-color:$color-02;
	padding: 0 0 20px 0;
	li{
		border-bottom: 1px solid #DCDCDC;
		position: relative;
		&:before{
			position: absolute;
			content: "\f15b";
			font-family: "FontAwesome";
			color: #808080;
			@include font(16);
			margin-right: .4em;
			font-style: normal;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
		}
	}
	li a{
		color: $color-text-01;
		@include font(13);
		padding: 10px 15px 10px 30px;
		position: relative;
		font-weight: normal;
		&:hover {
			color: $color-text-01;
		}
	}
	.uk-parent a{
		padding-left: 10px;
	}
	.uk-parent, .uk-nav-header {
		&:before{
			content: none;
		}
		a{
			&:after, &:before{
				position: absolute;
				content: "";
				font-family: "FontAwesome";
				font-weight: normal;
				right: 10px;
				transition: 0.4s all ease-in-out;
				width: 18px;
				height: 2px;
				background-color: #808080;
				top: 50%;
				transform: translateY(-1px);
			}
			&:before{
				transform: rotate(90deg) translateX(-1px);
			}
		}
	}
}
.uk-parent.uk-open a:before{
	content: "";
	transform: rotate(0) translateY(-1px);
}
.uk-offcanvas-bar li:first-child{
	border-bottom: 0;
}
ul.uk-nav-sub{
	padding: 0;
	a{
        color: $color-text-01;
        padding-left: 30px !important;
	}
	li{
		background-color: #F5F5F5;
		border-bottom:1px solid $color-02;
		&:first-child{
			border-bottom:1px solid $color-02;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}
.uk-parent ul.uk-nav-sub a{
	&:after, &:before{
		content: none;
	}
}
.link-canvas-icon{
	padding-top: 7px;
	li{
		border: 0;
		margin-top: 12px;
		&:before{
			content: none;
		}
		img{
			margin-right: 10px;
		}
		a{
			padding-left: 10px;
			@include font(13);
			font-weight: bold;
		}
	}
}
