{{#extend "default"}}
{{#content "main"}}

	<section id="contact-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">CONTACT<small>お問い合せ</small></h1>
	    	<h2 class="page-tit-02">採用に関するお問い合せ</h2>
	    	<p class="com-text-01">応募前に確認死体内容などお気軽にお問い合せください。</p>
	    </div>
	    <div class="com-banner-01 bk-contact">
            <div class="inner uk-container">
                <ul class="uk-grid-medium uk-flex-center uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                    <li>
                        <a href="#contact-02" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>電話でのお問い合せ</a>
                    </li>
                    <li>
                        <a href="#contact-03" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>メールでのお問い合せ</a>
                    </li>
                </ul>
            </div>
			<a class="scroll-down uk-visible@m" href="#contact-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg" alt="">
	        </a>
	    </div>
	</section><!-- /#contact-01 -->

	<section id="contact-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>TELEPHONE</small><br>お電話でのお問い合せ</h2>
			<p class="com-lead-text">お電話の際は「ホームページを見て」とお伝え頂くとスムーズです。</p>
            <div class="contact-02-hotline mt70 uk-text-center">
                <a href="tel:0120001694" title="0120-001-694">
                    <img src="cmscp/wp-content/themes/mymall/img/contact/hotline.svg" alt="">
                </a>
                <p class="mt30">受付時間：毎日9:00〜20:00／定休日：なし</p>
            </div>
		</div>
	</section><!-- /#contact-02 -->

	<section id="contact-03">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>INTERNET</small><br>インターネットからのお問い合せ</h2>
			<p>●インターネットからのご応募は24時間承っております。</p>
			<p class="mb30">●本画面に入力していただいた個人情報は、応募に関するご案内を行うために必要な範囲で利用させていただきます。<br>個人情報の取り扱いの詳細はプライバシーポリシーをご確認ください。</p>
			<form action="">
                <div class="form-table-01">
                    <dl>
                        <dt><label>応募職種</label></dt>
                        <dd>
                        	<span>
                        		<select>
                        			<option value="選択してください。">選択してください。</option>
                        			<option value="選択してください。">選択してください。</option>
                        		</select>
                        	</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>氏名</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>ふりがな</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>住所</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>電話番号</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス（確認用）</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>応募動機</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>希望欄</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                </div>
                <p><button type="submit" class="com-link-01 com-link-01-blue is-page is-submit">送信する</button></p>
            </form>
		</div>
	</section><!-- /#contact-03 -->

{{/content}}
{{/extend}}