{{#extend "default"}}
{{#content "main"}}

	<section id="entry-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">ENTRY<small>応募方法</small></h1>
	    	<h2 class="page-tit-02">当事務所とともに成長してくださる方の応募はこちら</h2>
	    	<p class="com-text-01">思いやりとチャレンジ精神を持って、私たちとともに成長しませんか？</p>
	    </div>
	    <div class="com-banner-01 bk-entry">
	    	<div class="inner uk-container">
				<ul class="uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
					<li>
						<a href="#entry-02" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>選考方法</a>
					</li>
					<li>
						<a href="#entry-03" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>書類による応募</a>
					</li>
					<li>
						<a href="#entry-04" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>インターネットからの応募</a>
					</li>
				</ul>
			</div>
			<a class="scroll-down uk-visible@m" href="#entry-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#entry-01 -->

	<section id="entry-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>SELECTION</small><br>選考方法</h2>
			<h3 class="com-tit-02 is-margin">選考方法流れ</h3>
			<ul class="entry-02-guide uk-text-center">
				<li>一次 書類審査</li>
				<li>二次 面接及び適性検査</li>
			</ul>
			<p>書類審査の結果は、誠に恐縮ではございますが、メールでのご連絡とさせて頂きます。<br>郵送でエントリーして頂いた場合は、メールアドレスの記載を忘れないでください。</p>
			<ul class="entry-02-list uk-child-width-1-2@s" uk-grid>
				<li><a class="com-link-01 com-link-01-blue is-full is-down" href="#">書類による応募</a></li>
				<li><a class="com-link-01 com-link-01-blue is-full is-down" href="#">インターネットからの応募</a></li>
			</ul>
		</div>
	</section><!-- /#entry-02 -->

	<section id="entry-03">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>DOCUMENTS</small><br>書類による応募方法</h2>
			<p class="com-lead-text">履歴書、職務経歴書（就職経験がある場合）、その他必要と思われる資料をご準備ください。</p>
			<ul class="program-03-box uk-grid-match uk-child-width-1-2@s" uk-grid>
				<li>
					<h3 class="com-tit-02 is-margin">メールでの送付</h3>
					<div class="program-03-item uk-flex uk-flex-center uk-flex-middle uk-flex-column">
						<h4 class="title uk-text-center"><a href="mailto:saiyou@aiko-jimusho.com" title="saiyou@aiko-jimusho.com">saiyou@aiko-jimusho.com</a></h4>
						<p>書類を添付していただき、送信してください。</p>
					</div>
				</li>
				<li>
					<h3 class="com-tit-02 is-margin">郵送での送付</h3>
					<div class="program-03-item uk-flex uk-flex-center uk-flex-middle uk-flex-column">
						<h4 class="title uk-text-center">滋賀オフィス<br>〒525-0044 滋賀県大津市京町3-3-1</h4>
						<p>採用担当者宛と記載して、郵送してください。</p>
					</div>
				</li>
			</ul>
			<p class="mt20">※ただし、送付頂いた資料一切は、お返しいたしません。採用を見合わせて頂く場合は、シュレダー処理をさせていただきます。</p>
		</div>
	</section><!-- /#entry-03 -->

	<section id="entry-04">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>INTERNET</small><br>インターネットからの応募</h2>
			<p>●インターネットからのご応募は24時間承っております</p>
			<p class="mb30">●本画面に入力していただいた個人情報は、応募に関するご案内を行うために必要な範囲で利用させていただきます。<br>個人情報の取り扱いの詳細はプライバシーポリシーをご確認ください。</p>
			<form action="">
                <div class="form-table-01">
                    <dl>
                        <dt><label>応募職種</label></dt>
                        <dd>
                        	<span>
                        		<select>
                        			<option value="選択してください。">選択してください。</option>
                        			<option value="選択してください。">選択してください。</option>
                        		</select>
                        	</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>氏名</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>ふりがな</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>住所</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>電話番号</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス（確認用）</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>応募動機</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>希望欄</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                </div>
                <p><button type="submit" class="com-link-01 com-link-01-blue is-page is-submit">送信する</button></p>
            </form>
		</div>
	</section><!-- /#entry-04 -->
	
{{/content}}
{{/extend}}