{{#extend "default"}}
{{#content "main"}}
	<section id="feature-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">FEATURE<small>あい湖の特徴</small></h1>
	    	<h2 class="page-tit-02">個の挑戦が、事務所を成長させる</h2>
	    	<p class="com-text-01">働きやすい環境やしっかりとした制度の元、一人ひとりの専門性を高めることで、<br>相乗的に事務所全体の価値やサービスを高めていく仕組みがあります。</p>
	    </div>
	    <div class="com-banner-01 bk-feature">
	    	<div class="inner uk-container">
				<ul class="uk-grid-medium uk-child-width-1-2@s" uk-grid>
					<li>
						<a href="#feature-02" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>あい湖の魅力</a>
					</li>
					<li>
						<a href="#feature-03" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>豊富な取扱分野</a>
					</li>
				</ul>
			</div>
			<a class="scroll-down uk-visible@m" href="#feature-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#feature-01 -->

	<section id="feature-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>ATTRACTION</small><br>あい湖の魅力</h2>
			<p class="com-lead-text">働きやすい環境で、<br>個人の専門性を高められる</p>
			<ul class="com-list-02 com-list-02-edit1 uk-grid-match uk-child-width-1-2@s uk-text-center" uk-grid>
			    <li>
			    	<div class="item">
			    		<img src="cmscp/wp-content/themes/mymall/img/feature/feature-ico1.png" alt="">
			    		<h5 class="title">離職率0%</h5>
			    		<p class="uk-text-left">開所以来、弁護士は一人も退職していません。<br>常に仲間とともに互いを高め合い、支え合うことで事務所を成長させ続けています。</p>
			    	</div>
			    </li>
			    <li>
			    	<div class="item">
			    		<img src="cmscp/wp-content/themes/mymall/img/feature/feature-ico2.png" alt="">
				    	<h5 class="title">5年でリーダーに</h5>
				    	<p class="uk-text-left">1つの分野に特化せず、複数の専門性を高め、年間300〜500件を担当。後輩の指導にあたるとともに事務所全体の利益を考える立場になっていただきます。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
			    		<img src="cmscp/wp-content/themes/mymall/img/feature/feature-ico3.png" alt="">
				    	<h5 class="title">4年目で年収2倍</h5>
				    	<p class="uk-text-left">国選弁護を含み、年収は1年目で550万円、4年目には1150万円を想定しています。当事務所では、弁護士会費もすべて事務所が負担させていただきます。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
			    		<img src="cmscp/wp-content/themes/mymall/img/feature/feature-ico4.png" alt="">
				    	<h5 class="title">福利厚生の充実</h5>
				    	<p class="uk-text-left">当事務所では、弁護士を含めた全てのスタッフが社会保険へ加入しています。男性弁護士の育休の取得実績もあり、福利厚生面も充実しています。</p>
				    </div>
			    </li>
			</ul>
		</div>
	</section><!-- /#feature-02 -->

	<section id="feature-03">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>SPECIAL FIELD</small><br>豊富な取扱分野</h2>
			<p class="com-lead-text">個人の専門性を高めることで、<br>様々な分野に精通しています</p>
			<div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
				<div>
					<h3 class="com-tit-02 is-margin">個人のお客様</h3>
					<ul>
						<li><a href="https://kaiketu-koutujiko.com/" target="_blank">交通事故</a></li>
						<li><a href="https://kaiketu-ricon.com/" target="_blank">離婚・慰謝料</a></li>
						<li><a href="https://kaiketu-souzoku.com/" target="_blank">遺言相続</a></li>
						<li><a href="https://kaiketu-souzoku.com/inheritance/family" target="_blank">民事信託（家族信託）</a></li>
						<li><a href="https://kaiketu-shakkin.com/" target="_blank">債務整理・破産・再生</a></li>
						<li><a href="https://kaiketu-fudousan.com/" target="_blank">不動産・建築トラブル</a></li>
						<li><a href="https://saikenkaishu-pro.biz/individual" target="_blank">金銭トラブル</a></li>
						<li><a href="https://aiko-jimusho.com/service/hepatitis_b" target="_blank">B型肝炎給付請求</a></li>
						<li><a href="https://aiko-jimusho.com/service/labor_issue" target="_blank">労働問題</a></li>
						<li><a href="https://aiko-jimusho.com/service/network" target="_blank">ネット被害</a></li>
						<li><a href="https://worker-insurance.com" target="_blank">労働災害（労災）</a></li>
					</ul>
				</div>
				<div>
					<h3 class="com-tit-02 is-margin">個人事業主・法人のお客様</h3>
					<ul>
						<li><a href="https://corporation-lawyer.biz/" target="_blank">企業法務（顧問弁護士）</a></li>
						<li><a href="https://corporation-lawyer.biz/international/" target="_blank">国際ビジネス法務（英文契約）</a></li>
						<li><a href="https://corporation-lawyer.biz/complaint/" target="_blank">クレーム対応（悪質クレーマー）</a></li>
						<li><a href="https://kaiketu-fudousan.com/" target="_blank">不動産・建築に関わる問題</a></li>
						<li><a href="https://kaiketu-souzoku.com/inheritance/business" target="_blank">事業承継（民事信託）</a></li>
						<li><a href="https://saikenkaishu-pro.biz/corporation" target="_blank">債権回収</a></li>
						<li><a href="https://kaiketu-kaishahasan.com/" target="_blank">会社の破産・清算</a></li>
						<li><a href="https://aiko-jimusho.com/lecturer#" target="_blank">講演会（セミナー講師）</a></li>
					</ul>
				</div>
				<div>
					<h3 class="com-tit-02 is-margin">医療関係のお客様</h3>
					<ul>
						<li><a href="https://legal-healthtech.com" target="_blank">クリニック（診療所、病院）</a></li>
						<li><a href="https://legal-healthtech.com/beauty/" target="_blank">美容クリニック</a></li>
						<li><a href="https://legal-healthtech.com" target="_blank">歯科クリニック</a></li>
						<li><a href="https://legal-healthtech.com/vet/" target="_blank">獣医科クリニック</a></li>
					</ul>
					<h3 class="com-tit-02 is-margin">寺院運営に関係されるお客様</h3>
					<ul>
						<li><a href="https://shumu-low.com/" target="_blank">寺院運営について</a></li>
						<li><a href="http://yusoan.com/" target="_blank">一般社団法人 宗務ネットワーク 佑想庵</a></li>
					</ul>
					<h3 class="com-tit-02 is-margin">刑事事件について</h3>
					<ul>
						<li><a href="https://aiko-jimusho.com/service/defense" target="_blank">刑事弁護</a></li>
						<li><a href="https://chikan-tousatu.com/" target="_blank">痴漢・盗撮冤罪事件</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section><!-- /#feature-03 -->

{{/content}}
{{/extend}}