{{#extend "default"}}
{{#content "main"}}

   <div id="keyvalue">
		<div class="keyvalue-group">
			<div>
				<p class="catch-text">
					頼られるを<br>やりがいに<br>しませんか？
				</p>
				<p>
					敷居が高そうな従来の弁護士のイメージを払拭し、<br>
					多くの皆様に頼られる法律事務所でありたい。<br>
					スタッフ一人ひとりが特定分野の専門性を高め、<br>
					様々な分野に対して質の高いサービスを提供いたします。
				</p>
			</div>
			<div class="keyvalue-news">
				<h2>News</h2>
				<div class="keyvalue-list">
					<article class="keyvalue-item">
						<span>19.01.11</span>
						<h3><a href="#" title="">事務員の中途採用の受付を開始しました。</a></h3>
					</article>
					<article class="keyvalue-item">
						<span>18.12.15</span>
						<h3><a href="#" title="">弁護士の新卒採用の受付を開始しました。</a></h3>
					</article>
					<article class="keyvalue-item">
						<span>18.12.02</span>
						<h3><a href="#" title="">年末年始のお知らせ</a></h3>
					</article>
				</div>
			</div>
		</div>
        <div class="keyvalue-video">
            <script src="//api.html5media.info/1.2.2/html5media.min.js"></script>
            <video autoplay loop muted>
                <source src="cmscp/wp-content/themes/mymall/img/video/motion_blur.mp4" type="video/mp4">
			</video>
			<img src="cmscp/wp-content/themes/mymall/img/home/iconlogo.svg">
        </div>
        <a class="keyvalue-srolldown uk-visible@m" href="#home-01" uk-scroll>
        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
        </a>
   </div><!-- /#keyvalue -->

   <section id="home-01">
   		<div class="uk-container">
   			<div class="home-01-group">
   				<figure class="img">
		   			<img class="img-01 uk-visible@m" src="cmscp/wp-content/themes/mymall/img/home/1.jpg" alt="">
		   			<img class="home-01-abs-s1 uk-hidden@m" src="cmscp/wp-content/themes/mymall/img/home/1_s.png" alt="">
		   		</figure>
		   		<div class="info">
	   				<h2 class="com-tit-01"><small>ABOUT US</small><br>質の高い法的サービスで、<br>皆様に頼られる法律事務所</h2>
			   		<p>
			   			迅速・親切・丁寧をモットーに、いかにして依頼者様の紛争を未然に防止し、要望を叶えられるかに重点を置いています。<br>
			   			弁護士以外の専門職の方とも連携して、一体的かつ抜本的な解決に取り組むのが特長の一つ<br>
			   			多分野にわたる依頼案件に対して、スタッフ一人ひとりの高い専門性と事務所全体の強固な協力体制で、質の高い法的サービスを提供する『プロフェッショナル集団』を目指しています。
			   		</p>
	   			</div>
   			</div>
   		</div><!-- /.uk-container -->
   		<img class="home-01-abs" src="cmscp/wp-content/themes/mymall/img/home/2.jpg" alt="">
   </section><!-- /#home-01 -->
   <section id="home-02">
	   	<div class="uk-container">
	   		<h2 class="com-tit-01"><small>POLICY</small><br>要望に応えるべく<br>依頼者のために行動する</h2>
	   		<p>お困りの依頼者のために、以下の行動指針をもとに行動しています。</p>
	   		<ul class="com-list-02 uk-child-width-1-3@l uk-grid-match uk-child-width-1-2@s uk-text-center" uk-grid>
			    <li>
			    	<div class="item">
			    		<h5 class="title">すべては依頼者のために</h5>
			    		<p>依頼者の思いを、依頼者の立場に<br>立って考え行動します。</p>
			    	</div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">自己利益を基準としない</h5>
				    	<p>依頼者の利益を基準にして、<br>解決に導きます。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">誠実に対応する</h5>
				    	<p>依頼者と向き合い、誠実に対応し<br>信用を得る努力をします。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">迅速・丁寧な対応</h5>
				    	<p>弁護士と事務局が密に連携して、<br>迅速かつ丁寧な対応をします。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">自己研さんを怠らない</h5>
				    	<p>依頼を通じても<br>自己研さんに努めます。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">依頼者の満足</h5>
				    	<p>依頼者の満足こそが、自己の満足で<br>あることを忘れません。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">チャレンジ精神</h5>
				    	<p>常識にとらわれずチャレンジし<br>新たな常識を生み出します。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">謙虚な気持ち</h5>
				    	<p>サービス業に従事するビジネスマン<br>であることを忘れません。</p>
				    </div>
			    </li>
			    <li>
			    	<div class="item">
				    	<h5 class="title">高い専門性を身に付ける</h5>
				    	<p>何事も深く追求し続け、誰にも負け<br>ない専門性を身に付けます。</p>
				    </div>
			    </li>
			</ul>
	   	</div><!-- /.uk-container -->
   </section><!-- /#home-02 -->

   <section id="home-03">
	   	<div class="uk-container">
	   		<h2 class="com-tit-01"><small>MESSAGE</small><br>粒違いの人材が互いに刺激し合い、<br>新たな価値を創造する</h2>
	   		<p class="com-text-01">
	   			スタッフが誇りを持って、お客様に誠実に対応するために、ワーク＆ライ<br>
	   			フバランスの実現にも取り組んでいます。<br>
				先輩スタッフ声から、希望の働き方のヒントを見つけてください。
			</p>
		   </div><!-- /.uk-container -->
		   
	   	<div class="home-03-video">
			<div class="uk-container">
				<div class="home-03-video-slider">
					<div class="item youtube">
						<iframe width="100%" height="600" src="https://www.youtube.com/embed/QcGmpWx4DXQ" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="item youtube">
						<iframe width="100%" height="600" src="https://www.youtube.com/embed/zhGnuWwpNxI" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
	   	</div>
	</section><!-- /#home-03 -->

	<section id="home-04">
		<div class="uk-container">
			<div class="group">	
				<div class="info">
			   		<h2 class="com-tit-01"><small>FEATURE</small><br>離職率0%、個の挑戦が、<br>事務所を成長させる</h2>
			   		<p class="com-text-01">働きやすい環境やしっかりとした制度の元、一人ひとりの専門性を高めることで、相乗的に事務所全体の価値やサービスを高めていく仕組みがあります。</p>
					<ul class="uk-grid-small uk-grid-match uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-4@s uk-child-width-1-2" uk-grid>
						<li>
							<div class="item">
								<img src="cmscp/wp-content/themes/mymall/img/home/icon-1.png" alt="">
								<p>離職率0%</p>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="cmscp/wp-content/themes/mymall/img/home/icon-2.png" alt="">
								<p>5年でリーダーに%</p>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="cmscp/wp-content/themes/mymall/img/home/icon-3.png" alt="">
								<p>4年目で年収2倍%</p>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="cmscp/wp-content/themes/mymall/img/home/icon-4.png" alt="">
								<p>福利厚生の充実%</p>
							</div>
						</li>
					</ul>
					<a href="#" class="com-link-01">あい湖の特徴</a>
				</div>
				<figure class="img uk-flex-first@m">
					<img class="uk-visible@m img-01" src="cmscp/wp-content/themes/mymall/img/home/3.jpg" alt="">
					<img class="uk-hidden@m img-02" src="cmscp/wp-content/themes/mymall/img/home/3_s.jpg" alt="">
				</figure>
			</div>
	   	</div><!-- /.uk-container -->
	</section><!-- /#home-04 -->

	<section id="home-05">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>CUSTOMER</small><br>お客様に安心して<br>ご相談いただくために</h2>
	   		<p class="com-text-01">困ったことをぐっと我慢したり、ご自身で解決したり、その他の士業に相<br>談したり、そんなお客様が弁護士に相談しやすように、サービスの向上を<br>心がけております。</p>
	   		<div class="home-05-group uk-child-width-1-2@s uk-grid-large" uk-grid>
	   			<div>
	   				<img src="cmscp/wp-content/themes/mymall/img/home/customer-1.jpg" alt="">
	   				<h3>平日夜、土日祝も対応いたします</h3>
	   				<p>相談したいのに仕事が終わるのが遅い、仕事が休みの土日祝にゆっくり相談したいという方のために、あい湖法律事務所では、平日夜、土日祝も対応いたします。</p>
	   			</div>
	   			<div>
	   				<img src="cmscp/wp-content/themes/mymall/img/home/customer-2.jpg" alt="">
	   				<h3>主要駅徒歩圏内、車でもOK</h3>
	   				<p>東京大手町・滋賀大津市・大阪高槻市に事務所を構え、いずれも主要駅から徒歩で約4分と好アクセス。関西圏・関東圏のお客様だけでなく北陸、東海、東北からもご依頼を頂いております。</p>
	   			</div>
	   			<div>
	   				<img src="cmscp/wp-content/themes/mymall/img/home/customer-3.jpg" alt="">
	   				<h3>ほっとするオフィスを<br class="uk-hidden@s">目指しています</h3>
	   				<p>弁護士はハードルが高く相談しにくいイメージをお持ちの方のために、あい湖法律事務所では、オフィスに花や音楽を添え、プライバシーを守る完全個室等、相談しやすい環境作りに取り組んでいます。</p>
	   			</div>
	   			<div>
	   				<img src="cmscp/wp-content/themes/mymall/img/home/customer-4.jpg" alt="">
	   				<h3>スピーディーな対応を<br class="uk-hidden@s">心がけています</h3>
	   				<p>弁護士となかなか連絡がとれない、返事も遅いといった他の事務所への不満を持っておられる方のために、あい湖法律事務所では、迅速・親切・丁寧をモットーに対応いたします。</p>
	   			</div>
	   		</div>
   		</div><!-- /.uk-container -->
	</section><!-- /#home-05 -->

	<section id="home-06">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>OFFICE</small><br>フィールドが無限に広がる</h2>
	   		<p class="com-text-01">滋賀県と東京都の中心地である大津市と大手町に事務所を構え、どちらも主要駅から徒歩で約4分と好アクセス。<br>関西圏・関東圏のお客様だけでなく北陸、東海、東北からもご依頼を頂いております。</p>
	   	</div><!-- /.uk-container -->
	   	<ul class="uk-grid-collapse uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
	   		<li>
	   			<img src="cmscp/wp-content/themes/mymall/img/home/office-1.jpg" alt="">
	   			<a href="#" class="com-link-01 com-link-01-blue">東京オフィス</a>
	   		</li>
	   		<li>
	   			<img src="cmscp/wp-content/themes/mymall/img/home/office-2.jpg" alt="">
	   			<a href="#" class="com-link-01 com-link-01-blue">滋賀オフィス</a>
	   		</li>
	   		<li>
	   			<img src="cmscp/wp-content/themes/mymall/img/home/office-3.jpg" alt="">
	   			<a href="#" class="com-link-01 com-link-01-blue">大阪高槻オフィス</a>
	   		</li>
	   	</ul>
	</section><!-- /#home-06 -->

	<section id="home-07">
		<div class="uk-container">
	   		<div class="uk-grid-large uk-child-width-1-2@s" uk-grid>
		   		<div class="info">
		   			<h2 class="com-tit-01"><small>SUMMER CLERK PROGRAM</small><br>実際の業務を身近に接し<br>理解や興味を深めたい学生へ</h2>
			   		<p class="com-text-01">あい湖法律事務所では、ロースクールに在籍する学生の皆様を対象とし、弁護士の業務に理解や興味を深めていただくことを目的として、サマークラーク・プログラムを実施しております。<br></p>
			   		<a href="#" class="com-link-01">募集要項</a>
		   		</div>
		   		<figure class="uk-text-center">
		   			<img src="cmscp/wp-content/themes/mymall/img/home/summer-program.jpg" alt="">
		   		</figure>
	   		</div>
	   	</div><!-- /.uk-container -->
	</section><!-- /#home-07 -->

{{/content}}
{{/extend}}