{{#extend "default"}}
{{#content "main"}}
	<section id="lawyer-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">LAWYER<small>弁護士 新卒採用　募集要項</small></h1>
	    	<h2 class="page-tit-02">ともに成長できる弁護士を募集しています</h2>
	    	<p class="com-text-01">思いやりとチャレンジ精神を持って、私たちとともに成長しませんか？</p>
	    </div>
	    <div class="com-banner-01 bk-lawyer">
			<a class="scroll-down uk-visible@m" href="#lawyer-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#lawyer-01 -->

    <ul class="com-tab-01 uk-grid-medium uk-child-width-1-2@s" uk-switcher uk-grid>
		<li>
			<a href="/" class="com-link-01 is-full">あい湖の魅力</a>
		</li>
		<li>
			<a href="/" class="com-link-01 is-full">豊富な取扱分野</a>
		</li>
	</ul><!-- /#com-tab-01 -->

	<div class="com-tab-01-content uk-switcher uk-container">
		<section id="lawyer-02">
			<h2 class="com-tit-01"><small>NEW GRADUATE</small><br>弁護士 新卒採用</h2>
			<p class="com-lead-text">誰にも負けない専門性を身につけ、<br>頼られるやりがいを感じたい方</p>
			<h3 class="com-tit-02 is-margin">募集要項</h3>
			<div class="com-table-01 is-full">
				<dl>
				  	<dt>募集職種</dt>
				  	<dd>勤務弁護士、支店長候補弁護士（将来）</dd>
				</dl>
				<dl>
				  	<dt>業務内容</dt>
				  	<dd>法律業務等</dd>
				</dl>
				<dl>
				  	<dt>採用予定人数</dt>
				  	<dd>1〜2名程度</dd>
				</dl>
				<dl>
				  	<dt>取扱案件</dt>
				  	<dd>交通事故、離婚・慰謝料、相続、労働事件（主に企業側）、債務整理、企業法務、刑事事件、その他一般事件</dd>
				</dl>
				<dl>
				  	<dt>勤務地</dt>
				  	<dd>滋賀県大津市または東京都内、ただし、今後支店展開により勤務地は流動的</dd>
				</dl>
				<dl>
				  	<dt>勤務時間</dt>
				  	<dd>9時〜20時までの間で専門型裁量労働制</dd>
				</dl>
				<dl>
				  	<dt>休日</dt>
				  	<dd>週休2日制、祝祭日、有給休暇、年末年始</dd>
				</dl>
				<dl>
				  	<dt>報酬等</dt>
				  	<dd>雇用契約です。一生勤めたい事務所にしたいとの思いから、原則、委託契約は致しません。<br>月額30万円、賞与年2回合計130万円。6年目の報酬は1,000万円以上を保証。</dd>
				</dl>
				<dl>
				  	<dt>弁護士会費</dt>
				  	<dd>事務所負担</dd>
				</dl>
				<dl>
				  	<dt>国選事件</dt>
				  	<dd>すべて個人の売上とする。事務所へ入れる必要はない。</dd>
				</dl>
				<dl>
				  	<dt>個人事件</dt>
				  	<dd>なし。すべて事務所事件として受任。冬季賞与にて、考慮する。</dd>
				</dl>
				<dl>
				  	<dt>交通費</dt>
				  	<dd>原則全額支給</dd>
				</dl>
				<dl>
				  	<dt>各種保険</dt>
				  	<dd>雇用保険・労災保険・健康保険・厚生年金</dd>
				</dl>
				<dl>
				  	<dt>その他</dt>
				  	<dd>育休あり（男性弁護士について取得実績あり）、企業型確定拠出年金</dd>
				</dl>
			</div>
			<a href="#" class="com-link-01 com-link-01-blue is-page">
				エントリー
			</a>
		</section><!-- /#lawyer-02 -->

		<section id="lawyer-03">
			<h2 class="com-tit-01"><small>CAREER</small><br>弁護士 中途採用</h2>
			<p class="com-lead-text">新しい環境で挑戦し<br>事務所の成長を担いたい方</p>
			<h3 class="com-tit-02 is-margin">募集要項</h3>
			<div class="com-table-01 is-full">
				<dl>
				  	<dt>募集職種</dt>
				  	<dd>勤務弁護士、支店長候補弁護士（将来）</dd>
				</dl>
				<dl>
				  	<dt>業務内容</dt>
				  	<dd>法律業務等</dd>
				</dl>
				<dl>
				  	<dt>採用予定人数</dt>
				  	<dd>1〜2名程度</dd>
				</dl>
				<dl>
				  	<dt>取扱案件</dt>
				  	<dd>交通事故、離婚・慰謝料、相続、労働事件（主に企業側）、債務整理、企業法務、刑事事件、その他一般事件</dd>
				</dl>
				<dl>
				  	<dt>勤務地</dt>
				  	<dd>滋賀県大津市または東京都内、ただし、今後支店展開により勤務地は流動的</dd>
				</dl>
				<dl>
				  	<dt>勤務時間</dt>
				  	<dd>9時〜20時までの間で専門型裁量労働制</dd>
				</dl>
				<dl>
				  	<dt>休日</dt>
				  	<dd>週休2日制、祝祭日、有給休暇、年末年始</dd>
				</dl>
				<dl>
				  	<dt>報酬等</dt>
				  	<dd>雇用契約です。一生勤めたい事務所にしたいとの思いから、原則、委託契約は致しません。</dd>
				</dl>
				<dl>
				  	<dt>要相談</dt>
				  	<dd>子育て・介護等によりフルタイムでの勤務が困難な弁護士もご相談ください。</dd>
				</dl>
				<dl>
				  	<dt>弁護士会費</dt>
				  	<dd>事務所負担</dd>
				</dl>
				<dl>
				  	<dt>国選事件</dt>
				  	<dd>すべて個人の売上とする。事務所へ入れる必要はない。</dd>
				</dl>
				<dl>
				  	<dt>個人事件</dt>
				  	<dd>なし。すべて事務所事件として受任。冬季賞与にて、考慮する。</dd>
				</dl>
				<dl>
				  	<dt>交通費</dt>
				  	<dd>原則全額支給</dd>
				</dl>
				<dl>
				  	<dt>各種保険</dt>
				  	<dd>雇用保険・労災保険・健康保険・厚生年金</dd>
				</dl>
				<dl>
				  	<dt>その他</dt>
				  	<dd>育休あり（男性弁護士について取得実績あり）、企業型確定拠出年金</dd>
				</dl>
			</div>
			<a href="#" class="com-link-01 com-link-01-blue is-page">
				エントリー
			</a>
		</section><!-- /#lawyer-03 -->
	</div>

{{/content}}
{{/extend}}