{{#extend "default"}}
{{#content "main"}}
	<section id="office-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">OFFICE<small>事務所紹介</small></h1>
	    	<h2 class="page-tit-02">フィールドが無限に広がる</h2>
	    	<p class="com-text-01">滋賀県と東京都の中心地である大津市と大手町に事務所を構え、どちらも主要駅から徒歩で約4分と好アクセス。<br>関西圏・関東圏のお客様だけでなく北陸、東海、東北からもご依頼を頂いております。</p>
	    </div>
	    <div class="com-banner-01">
	    	<div class="inner uk-container">
				<ul class="uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
					<li>
						<a href="#office-02" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>東京オフィス</a>
					</li>
					<li>
						<a href="#office-03" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>滋賀オフィス</a>
					</li>
					<li>
						<a href="#office-04" class="com-link-01 com-link-01-blue is-full is-down" uk-scroll>大阪高槻オフィス</a>
					</li>
				</ul>
			</div>
			<a class="scroll-down uk-visible@m" href="#office-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#office-01 -->

	<section id="office-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>TOKYO OFFICE</small><br>東京オフィス</h2>
			<div class="uk-grid-medium uk-child-width-1-2@m" uk-grid>
				<div>
					<p class="com-lead-text">東京の中心地。地下鉄大手町駅より<br>徒歩4分の好アクセス！</p>
					<div class="com-table-01">
						<dl>
						  	<dt>事務所名</dt>
						  	<dd>弁護士法人 あい湖法律事務所<br>東京オフィス</dd>
						</dl>
						<dl>
						  	<dt>住所</dt>
						  	<dd>〒101-0054<br>東京都千代田区神田錦町2丁目11-7<br>小川ビル6階</dd>
						</dl>
						<dl>
						  	<dt>電話</dt>
						  	<dd>0120-001-694<br>03-6273-7758</dd>
						</dl>
						<dl>
						  	<dt>FAX</dt>
						  	<dd>03-6800-6748</dd>
						</dl>
						<dl>
						  	<dt>キッズスペース</dt>
						  	<dd>あり</dd>
						</dl>
						<dl>
						  	<dt>駐車場</dt>
						  	<dd>なし</dd>
						</dl>
					</div>
				</div>
				<figure class="com-banner-02">
					<img src="cmscp/wp-content/themes/mymall/img/office/office_bn1.jpg" alt="">
				</figure>
			</div>
			<h3 class="com-tit-02">弁護士紹介</h3>
			<ul class="com-list-01 uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-1.jpg" alt=""></figure>
					<p>森 仁人</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-2.jpg" alt=""></figure>
					<p>石井 宏之</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-3.jpg" alt=""></figure>
					<p>佐久間 由佳</p>
				</li>
			</ul>
			<h3 class="com-tit-02 is-bd">アクセス</h3>
			<p>大手町駅C2b出口（経団連会館）徒歩4分 / 竹橋駅3b出口徒歩4分 / 神保町A9出口徒歩6分 / 小川町淡路町B6出口徒歩6分</p>
			<iframe class="com-map-01" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4317982538482!2d139.76075631561213!3d35.690990437043496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfb42318647%3A0xa45b18ca033a2c3a!2z5byB6K235aOr5rOV5Lq644GC44GE5rmW5rOV5b6L5LqL5YuZ5omA5p2x5Lqs44Kq44OV44Kj44K5!5e0!3m2!1svi!2s!4v1555400643057!5m2!1svi!2s" allowfullscreen></iframe>
		</div>
	</section><!-- /#office-02 -->

	<section id="office-03">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>SHIGA OFFICE</small><br>滋賀オフィス</h2>
			<div class="uk-grid-medium uk-child-width-1-2@m" uk-grid>
				<div>
					<p class="com-lead-text">JR大津駅より徒歩3分。<br>京都からのアクセスも抜群！</p>
					<div class="com-table-01">
						<dl>
						  	<dt>事務所名</dt>
						  	<dd>弁護士法人 あい湖法律事務所<br>滋賀オフィス</dd>
						</dl>
						<dl>
						  	<dt>住所</dt>
						  	<dd>〒520-0044<br>滋賀県大津市京町3-3-1<br>A&M・OTSUビル</dd>
						</dl>
						<dl>
						  	<dt>電話</dt>
						  	<dd>0120-001-694<br>077-527-0023</dd>
						</dl>
						<dl>
						  	<dt>FAX</dt>
						  	<dd>03-6800-6748</dd>
						</dl>
						<dl>
						  	<dt>キッズスペース</dt>
						  	<dd>なし(幼児玩具あり)</dd>
						</dl>
						<dl>
						  	<dt>駐車場</dt>
						  	<dd>あり</dd>
						</dl>
					</div>
				</div>
				<figure class="com-banner-02">
					<img src="cmscp/wp-content/themes/mymall/img/office/office_bn2.jpg" alt="">
				</figure>
			</div>
			<h3 class="com-tit-02 is-bd">弁護士紹介</h3>
			<ul class="com-list-01 uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-4.jpg" alt=""></figure>
					<p>飛渡 貴之</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-5.jpg" alt=""></figure>
					<p>金 用大</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-6.jpg" alt=""></figure>
					<p>山本 典佳</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-7.jpg" alt=""></figure>
					<p>奥井 久美子</p>
				</li>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-8.jpg" alt=""></figure>
					<p>藤井 若奈</p>
				</li>
			</ul>
			<h3 class="com-tit-02 is-bd">アクセス</h3>
			<p>JR大津駅北口から琵琶湖方向に徒歩3分 / 京阪上栄町徒歩8分 / 京阪島ノ関徒歩8分 / 大津ICから車で5分</p>
			<iframe class="com-map-01" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.028915994705!2d135.86393801559976!3d35.00598127431378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010cf61f13bbcf%3A0xbb3b5e55113d3a38!2z5byB6K235aOr5rOV5Lq644GC44GE5rmW5rOV5b6L5LqL5YuZ5omAIOa7i-izgOOCquODleOCo-OCuQ!5e0!3m2!1svi!2s!4v1555400704729!5m2!1svi!2s" allowfullscreen></iframe>
		</div>
	</section><!-- /#office-03 -->

	<section id="office-04">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>OSAKA TAKATSUKI OFFICE</small><br>大阪高槻オフィス</h2>
			<div class="uk-grid-medium uk-child-width-1-2@m" uk-grid>
				<div>
					<p class="com-lead-text">JR高槻駅より徒歩3分。<br>京都・大阪からのアクセスも抜群！</p>
					<div class="com-table-01">
						<dl>
						  	<dt>事務所名</dt>
						  	<dd>弁護士法人 あい湖法律事務所<br>大阪高槻オフィス</dd>
						</dl>
						<dl>
						  	<dt>住所</dt>
						  	<dd>〒569-0803<br>大阪府高槻市高槻町5番23号<br>ファイブビル4階</dd>
						</dl>
						<dl>
						  	<dt>電話</dt>
						  	<dd>0120-001-694<br>072-685-3900</dd>
						</dl>
						<dl>
						  	<dt>FAX</dt>
						  	<dd>03-6800-6748</dd>
						</dl>
						<dl>
						  	<dt>キッズスペース</dt>
						  	<dd>あり</dd>
						</dl>
						<dl>
						  	<dt>駐車場</dt>
						  	<dd>なし</dd>
						</dl>
					</div>
				</div>
				<figure class="com-banner-02">
					<img src="cmscp/wp-content/themes/mymall/img/office/office_bn3.jpg" alt="">
				</figure>
			</div>
			<h3 class="com-tit-02 is-bd">弁護士紹介</h3>
			<ul class="com-list-01 uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
				<li>
					<figure><img src="cmscp/wp-content/themes/mymall/img/office/office-9.jpg" alt=""></figure>
					<p>松田 健人</p>
				</li>
			</ul>
			<h3 class="com-tit-02 is-bd">アクセス</h3>
			<p>JR高槻駅から徒歩3分、阪急高槻市駅から徒歩7分</p>
			<iframe class="com-map-01" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.028915994705!2d135.86393801559976!3d35.00598127431378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010cf61f13bbcf%3A0xbb3b5e55113d3a38!2z5byB6K235aOr5rOV5Lq644GC44GE5rmW5rOV5b6L5LqL5YuZ5omAIOa7i-izgOOCquODleOCo-OCuQ!5e0!3m2!1svi!2s!4v1555400704729!5m2!1svi!2s" allowfullscreen></iframe>
		</div>
	</section><!-- /#office-04 -->

{{/content}}
{{/extend}}