{{#extend "default"}}
{{#content "main"}}

	<section id="program-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">SUMMER CLERK PROGRAM<small>サマー・クラーク・プログラム募集要項</small></h1>
	    	<h2 class="page-tit-02">サマー・クラーク・プログラムのご案内</h2>
	    	<p class="com-text-01">あい湖法律事務所では、ロースクールに在籍する学生を対象に「サマー・クラーク・プログラム」を募集します。</p>
	    </div>
	    <div class="com-banner-01 bk-program">
			<a class="scroll-down uk-visible@m" href="#program-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#program-01 -->

	<section id="program-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>CURRENT STUDENT</small><br>サマー・クラーク・プログラム</h2>
			<p class="com-lead-text">実際の業務を身近に接し、業務などに対する<br>理解や興味を深めたい学生の参加を待っています。</p>
			<h3 class="com-tit-02 is-margin">概要</h3>
			<div class="com-table-01 is-full">
				<dl>
				  	<dt>応募資格</dt>
				  	<dd>応募時点で文部科学省の認可を受けた法科大学院の第2年次または第3年次に在学しており、<br>2020年3月または2021年3月に修了する見込みであること</dd>
				</dl>
				<dl>
				  	<dt>内容</dt>
				  	<dd>法令・判例等に関する調査、契約書・法律意見書等の文書の作成等の法律実務の補助</dd>
				</dl>
				<dl>
				  	<dt>日程</dt>
				  	<dd>
					  	下記1.から4.までのうち、いずれかの期間
					  	<ol class="com-table-list">
                            <li>2019年8月00日(◯)から同月00日(◯)まで</li>
                            <li>2019年8月00日(◯)から同月00日(◯)まで</li>
                            <li>2019年8月00日(◯)から同月00日(◯)まで</li>
                            <li>2019年8月00日(◯)から同月00日(◯)まで</li>
                        </ol>
					</dd>
				</dl>
				<dl>
				  	<dt>勤務時間</dt>
				  	<dd>00:00〜00:00（うち昼食休憩1時間</dd>
				</dl>
				<dl>
				  	<dt>勤務場所</dt>
				  	<dd>東京オフィス：東京都千代田区神田錦町2-11-7 小川ビル6階<br>滋賀オフィス：滋賀県大津市京町3-3-1 A&M・OTSUビル<br>大阪高槻オフィス：大阪府高槻市高槻町5番23号 ファイブビル4階</dd>
				</dl>
				<dl>
				  	<dt>待遇</dt>
				  	<dd>日当1万円 （税込）<br>交通費・宿泊費は下記の要領で別途支給致します。</dd>
				</dl>
				<dl>
				  	<dt>交通費・宿泊費</dt>
				  	<dd>自宅から事務所までの交通費実費を支給致します。<br>宿泊施設が必要な場合は、自宅から事務所までの往復交通費実費を支給するとともに、サマークラーク・プログラム参加期間中の宿泊施設を提供致します。</dd>
				</dl>
				<dl>
				  	<dt>その他</dt>
				  	<dd>ご希望に応じて、法律実務に関する所内のセミナー・勉強会にご参加いただくことができます。<br>ただし、ご参加いただく期間によっては、セミナー等が開催されない場合もございますので、あらかじめご了承ください。</dd>
				</dl>
			</div>
		</div>
	</section><!-- /#program-02 -->

	<section id="program-03">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>DOCUMENTS</small><br>書類による応募方法</h2>
			<p class="com-lead-text">履歴書、職務経歴書（就職経験がある場合）、その他必要と思われる資料をご準備ください。</p>
			<ul class="program-03-box uk-grid-match uk-child-width-1-2@s" uk-grid>
				<li>
					<h3 class="com-tit-02 is-margin">メールでの送付</h3>
					<div class="program-03-item uk-flex uk-flex-center uk-flex-middle uk-flex-column">
						<h4 class="title uk-text-center"><a href="mailto:saiyou@aiko-jimusho.com" title="saiyou@aiko-jimusho.com">saiyou@aiko-jimusho.com</a></h4>
						<p>書類を添付していただき、送信してください。</p>
					</div>
				</li>
				<li>
					<h3 class="com-tit-02 is-margin">郵送での送付</h3>
					<div class="program-03-item uk-flex uk-flex-center uk-flex-middle uk-flex-column">
						<h4 class="title uk-text-center">滋賀オフィス<br>〒525-0044 滋賀県大津市京町3-3-1</h4>
						<p>採用担当者宛と記載して、郵送してください。</p>
					</div>
				</li>
			</ul>
			<p class="mt20">※ただし、送付頂いた資料一切は、お返しいたしません。採用を見合わせて頂く場合は、シュレダー処理をさせていただきます。</p>
		</div>
	</section><!-- /#program-03 -->

	<section id="program-04">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>INTERNET</small><br>インターネットからの応募</h2>
			<p>●インターネットからのご応募は24時間承っております</p>
			<p class="mb30">●本画面に入力していただいた個人情報は、応募に関するご案内を行うために必要な範囲で利用させていただきます。<br>個人情報の取り扱いの詳細はプライバシーポリシーをご確認ください。</p>
			<form action="">
                <div class="form-table-01">
                    <dl>
                        <dt><label>応募職種</label></dt>
                        <dd>
                        	<span>
                        		<select>
                        			<option value="選択してください。">選択してください。</option>
                        			<option value="選択してください。">選択してください。</option>
                        		</select>
                        	</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>氏名</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>ふりがな</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>住所</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>電話番号</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>メールアドレス（確認用）</label></dt>
                        <dd><span><input type="text" value=""></span></dd>
                    </dl>
                    <dl>
                        <dt><label>応募動機</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>希望欄</label></dt>
                        <dd>
                            <span><textarea name="message"></textarea></span>
                        </dd>
                    </dl>
                </div>
                <p><button type="submit" class="com-link-01 com-link-01-blue is-page is-submit">送信する</button></p>
            </form>
		</div>
	</section><!-- /#program-04 -->
	
{{/content}}
{{/extend}}