{{#extend "default"}}
{{#content "main"}}

	<section id="recruit-01">
		<div class="uk-container">
	    	<h1 class="page-tit-01">RECRUIT<small>採用情報</small></h1>
	    	<h2 class="page-tit-02">ともに成長できる弁護士・スタッフを募集しています</h2>
	    	<p class="com-text-01">思いやりとチャレンジ精神を持って、私たちとともに成長しませんか？</p>
	    </div>
	    <div class="com-banner-01 bk-recruit">
			<a class="scroll-down uk-visible@m" href="#recruit-02" uk-scroll>
	        	<img src="cmscp/wp-content/themes/mymall/img/home/scroll-down.svg">
	        </a>
	    </div>
	</section><!-- /#recruit-01 -->

	<section id="recruit-02">
		<div class="uk-container">
			<h2 class="com-tit-01"><small>WANTED JOBS</small><br>募集職種一覧</h2>
		</div>
		<div class="item-bg">
			<div class="uk-container">
				<div class="uk-flex-middle" uk-grid>
					<div class="uk-width-1-3@s">
						<p class="com-lead-text">弁護士採用 募集要項</p>
					</div>
					<div class="uk-width-2-3@s">
						<ul class="uk-child-width-1-2@m" uk-grid>
					        <li><a href="#" class="com-link-01 is-full">新卒採用　弁護士</a></li>
					        <li><a href="#" class="com-link-01 is-full">中途採用　弁護士</a></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="item-bg is-gray">
			<div class="uk-container">
				<div class="uk-flex-middle" uk-grid>
					<div class="uk-width-1-3@s">
						<p class="com-lead-text">事務員採用 募集要項</p>
					</div>
					<div class="uk-width-2-3@s">
						<ul class="uk-child-width-1-2@m" uk-grid>
					        <li><a href="#" class="com-link-01 is-full">新卒採用　事務員</a></li>
					        <li><a href="#" class="com-link-01 is-full">中途採用　事務員</a></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /#recruit-02 -->
{{/content}}
{{/extend}}