{{#extend "default"}}
{{#content "main"}}
	<section id="thanks">
		<div class="uk-container">
			<h1 class="page-tit-01">CONTACT<small>お問い合せ</small></h1>
	    	<h2 class="page-tit-02">お問い合せを受け付けました。</h2>
	    	<p>●入力フォーム送信後、確認の為の自動返信メールが送られます。<br>自動返信メールが届かなかった場合はメールアドレスの入力ミスが考えられます。再度入力ください。</p>
	    	<p>●PCメールの受信拒否設定をされている場合は、受信許可設定に、aiko-jimusho.comドメインを追加してください。</p>
			<p>●内容確認後、担当者から1営業日以内にご連絡差し上げます。しばらくお待ちください。</p>
			<p class="mt20">
				弁護士法人 あい湖法律事務所<br>
				受付時間：毎日9:00〜20:00／定休日：なし<br>
				フリーダイヤル：0120-001-694<br>
				TEL：03-6273-7758
			</p>
			<a href="index.html" class="com-link-01 com-link-01-blue is-page is-submit">TOPへ戻る</a>
		</div>
	</section>

{{/content}}
{{/extend}}