<!DOCTYPE html>
<html lang="ja">

<head prefix="">
    
    <meta charset="utf-8">

    <!-- ▼Canonical -->
    <link rel="canonical" href="http://aiko.biwa-lake.com">
    <!-- ▲Canonical -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- ▼icon -->
    <!-- <link rel="icon" href="cmscp/wp-content/themes/mymall/img/common/parts/favicon.ico"> -->
    <link rel="apple-touch-icon" href="">
    <meta name="apple-mobile-web-app-title" content="あい湖採用">
    <!-- ▲icon -->

    <!-- ▼CSS -->
    <link rel="stylesheet" href="https://use.typekit.net/dfu1zhz.css">
    <link rel="stylesheet" href="cmscp/wp-content/themes/mymall/css/uikit.css" media="all">
    <link rel="stylesheet" href="cmscp/wp-content/themes/mymall/css/slick.css" media="all">
    <link rel="stylesheet" href="cmscp/wp-content/themes/mymall/css/layout.css" media="all">
    <!-- ▲CSS -->

    <!-- ▼jquery GoogleのCDNからの読み込み優先 読み込めない場合は自分のを読み込む -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="cmscp/wp-content/themes/mymall/js/jquery.js"><\/script>')</script>
    <!-- ▲jquery GoogleのCDNからの読み込み優先 読み込めない場合は自分のを読み込む -->
    <!-- ie8でver2がダメな場合は条件分岐でie8のときだけ1.10.2にする ver1 -->

    <!-- ▼JS uikit -->
    <script src="cmscp/wp-content/themes/mymall/js/uikit.min.js"></script>
    <script src="cmscp/wp-content/themes/mymall/js/slick.min.js"></script>
    <!-- ▲JS uikit -->

    <!-- ▼その他JS -->
    <!-- ▲その他JS -->
    
    <!-- ▼GoogleAnalytics -->
    <!-- ▲GoogleAnalytics -->
</head>

<body>

{{#block "header"}}
{{> header}}
{{/block}}
    

<!-- ▼content ================================================== -->
<div id="content">

<!-- ▼main ================================================== -->
<main id="main">

    {{#block "main"}}
    {{{contents}}}
    {{/block}}

    {{#block "panel"}}
    {{> panel}}
    {{/block}}

</main><!-- /#main -->
<!-- ▲main ================================================== -->

</div><!-- /#content -->
<!-- ▲content ================================================== -->

{{#block "footer"}}
{{> footer}}
{{/block}}
  
</body>

</html>