<!-- ▼footer ================================================== -->
<footer id="footer">
    <div class="footer-logo">
        <img src="cmscp/wp-content/themes/mymall/img/home/footer-logo.png" alt="">
    </div>
    <ul>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">個人情報保護方針</a></li>
        <li><a href="#">弁護士法人あい湖法律事務所Webサイトへ <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
    </ul>
    <small id="copyright">© Aiko houritsu jimusho All rights reserved.</small>
    <a href="#pagetop" class="footer-backtop-btn uk-visible@m" uk-scroll>
        <img src="cmscp/wp-content/themes/mymall/img/home/back-top.svg" alt="">
    </a>
</footer>
<!-- ▲footer ================================================== -->

<!-- ▼offcanvas menu ============================== -->
<div id="offcanvas-flip" class="uk-offcanvas" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav-offcanvas" data-uk-nav="{multiple:true}">
            <li class="uk-nav-header">MENU</li>
            <li><a href="">ホーム</a></li>
            <li><a href="">あい湖法律事務所の特徴</a></li>
            <li class="uk-parent" aria-expanded="true">
                <a href="#">オフィス一覧</a>
                <ul class="uk-nav-sub" uk-nav>
                    <li><a href="#">東京オフィス</a></li>
                    <li><a href="#">滋賀オフィス</a></li>
                    <li><a href="#">大阪高槻オフィス</a></li>
                </ul>
            </li>
            <li><a href="">サマー・クラーク・プログラム</a></li>
            <li class="uk-parent" aria-expanded="true">
                <a href="#">採用情報</a>
                <ul class="uk-nav-sub" uk-nav>
                    <li><a href="#">新卒　弁護士募集</a></li>
                    <li><a href="#">中途　弁護士募集</a></li>
                    <li><a href="#">新卒　事務員募集</a></li>
                    <li><a href="#">中途　事務員募集</a></li>
                </ul>
            </li>
            <li><a href="">エントリーページ</a></li>
            <li><a href="">お問い合せページ</a></li>
            <li><a href="">個人情報保護方針</a></li>
            <li><a href="">弁護士法人あい湖法律事務所</a></li>
        </ul>
    </div><!-- /.uk-offcanvas-bar -->
</div><!-- /#offcanvas -->
<!-- ▲offcanvas menu ============================== -->

<!-- ▼JS ================================================== -->
<script src="cmscp/wp-content/themes/mymall/js/plugins.js"></script>
<!-- ▼レスポンシブ用クリッカブル▼ -->
<script src="cmscp/wp-content/themes/mymall/js/jquery.rwdImageMaps.min.js"></script>
<script src="cmscp/wp-content/themes/mymall/js/slick.min.js"></script>
<script>
    $(document).ready(function (e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>
<!-- ▲レスポンシブ用クリッカブル▲ -->