<!-- ▼header================================================== -->
<header id="header" class="uk-flex uk-flex-between">
    <h1 id="header-logo">
        <a href="/">
            <img src="cmscp/wp-content/themes/mymall/img/common/parts/logo.svg" alt="">
        </a>
    </h1>
    <button class="uk-button header-btn-01" type="button" uk-toggle="target: #offcanvas-flip">
        <img src="cmscp/wp-content/themes/mymall/img/common/parts/menu.svg" alt="">
    </button>
</header>
<!-- ▲header ================================================== -->