<!-- ▼panel================================================== -->
<aside class="com-panel-01">
	<div class="uk-container">
   		<div class="uk-grid-large uk-flex-bottom uk-flex-between" uk-grid>
	   		<div class="uk-width-2-5@m">
	   			<h2 class="com-tit-01"><small>RECRUIT</small><br>ともに成長できる<br>弁護士・事務員を<br>募集しています</h2>
		   		<a href="#" class="com-link-01">採用情報</a>
	   		</div>
	   		<figure class="uk-width-3-5@m uk-flex-first@m uk-text-center">
	   			<img src="cmscp/wp-content/themes/mymall/img/home/recruit.png" alt="">
	   		</figure>
   		</div>
   	</div><!-- /.uk-container -->
</aside>
<!-- ▲panel================================================== -->